@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: rgb(233, 233, 230);
}
.active {
  @apply font-bold text-base py-2 px-4 rounded-xl transition-all duration-300 ease-in-out;

  @apply bg-emerald-400 text-green-900 shadow-lg scale-[1.03];
}
